# Build files
Dockerfile*
.dockerignore
docker-compose*.yml

# Dependencies
node_modules
npm-debug.log

# Build outputs
dist
generated

# Development files
.env*
*.log
.git
README.md

# Test files
test/
**/*.spec.ts
**/*.test.ts
